body{
    margin: 0;
    padding: 0;
    background-color:#dcdcdc;
    
}

a{
    text-decoration: none;
    color: white;
}

/* Üst kısım başlangıç (navbar) */

.header-section .ustbilgi{
    display: flex;
    align-items: center; 
    padding: 0 10;
    margin: 30px 30px 30px;
    background-color: none;
    gap: 4rem;
    float: right;
    list-style: none;
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-section .img{
    height: 100px;
    border-radius: 25px;
    margin: 5px 20px 10px 15rem;
   
}

header {
    min-height: 100vh;
    background-image: url(pngtree-vector-technology-background-with-software-code-lines-and-world-map-image_1217293.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}

/* Üst kısım bitiş(navbar) */

/* Tablo kısmı başlangıç */
.box{
    width: 450px;
    background: white;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: black;
    font-family: sans-serif;
    border-radius: 100px;
}

.box .img{
    width: 100px;
    border-radius: 100px;
    cursor:pointer;
    margin: 10px 10px 10px;
    transform: scale(1.5);
    
}

.img{
    transition: 0.5s;
}
.box img:hover {
transform: scale(0.9);
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    font-weight:bold; 

}

.box h5{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
    font-weight:bold;

}

.box p{
    text-align: justify;/* yazıyı sağa sola yasladı */
    font-weight:bold;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block; /* iconaları yan yana koydu */
    margin: 6px;             /* aralarındaki boşluğu açtı */
    
}

.box li a{
    color: black;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: #b9b9b9;
}

/* Tablo kısmı Bitiş */

/* HAKKIMDA kısmı başlangıç  */

.second-header{
   
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin: 50px;
   

}


.container {
    display: flex;  /* Bunu yapmadığımızda esneklik sağlamıyor ve yazı ile resmi alt alta koyuyor */
    align-items: center; /* Resim ve yazıyı dikey ortalar */
    justify-content: center; /* Resim ve yazıyı yatay ortalar */
    padding: 20px;
    border-radius: 20px;
}

.image img {
    border-radius: 10px; /* Resmin köşelerini yuvarlatır */
    max-width: 100%; /* Resmin maksimum genişliğini belirler */
    height: auto; /* Resmin yüksekliğini korur */
}

.text {
    margin-left: 20px; /* Resim ve yazı arasındaki boşluk */
    padding: 10px;      /* yazının yazılı oldugu kutunun ustunden yazıya kadar olan boşluk */
    border: 4px solid black; /* Yazı alanının kenarlığı */
    border-radius: 20px; /* Yazı alanının köşelerini yuvarlatır */
    background-color: #f0f0f0; /* Yazı alanının arka plan rengi */
    box-shadow: 10px 10px;
}

/* HAKKIMDA kısmı bitiş  */



/* PROJELER kısmı başlangıç  */

.container-title-1{
    background-color: aqua;
    
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
    
}

.box-container{
    display: grid; /* KUTULARI YAN YANA DİZİYOR (ÖNEMLİ!!!!!)*/
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    width: 1900px;
    background-color: aqua  ;
    display: flex;
}

.box-container .boxx img{
    width: 100%;
    object-fit: cover;
    border-radius: 100px;
    
    

}

.boxx{
    width: 200px;
    height: 280px;
    background: white;
    padding: 100px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 6%;
    color: 	black;
    background-color: 	#ff7f50;
    list-style: none;
    box-shadow: 30px 30px 30px;
    border-radius: 20px;
}

.container2 .container-title-1 h3{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

/* PROJELER kısmı bitiş  */


/* Deneyimler kısmı başlangıç  */

.deneyimler{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin: 50px;
   
}

.container3{
    display: flex;  /* Bunu yapmadığımızda esneklik sağlamıyor ve yazı ile resmi alt alta koyuyor */
    align-items: center; /* Resim ve yazıyı dikey ortalar */
    justify-content: center; /* Resim ve yazıyı yatay ortalar */
    padding: 20px;
    border-radius: 20px;
    
    


}

.image3 img{
    border-radius: 20px; /* Resmin köşelerini yuvarlatır */
    max-width: 100%; /* Resmin maksimum genişliğini belirler */
    height: auto; /* Resmin yüksekliğini korur */
    padding: 10px;
    background-color: red;
    box-shadow: 20px 20px 20px;
    

}

.text2{
    margin-left: 20px; /* Resim ve yazı arasındaki boşluk */
    padding: 10px;      /* yazının yazılı oldugu kutunun ustunden yazıya kadar olan boşluk */
    border: 4px solid black; /* Yazı alanının kenarlığı */
    border-radius: 20px; /* Yazı alanının köşelerini yuvarlatır */
    background-color: #f0f0f0; /* Yazı alanının arka plan rengi */
    box-shadow: -10px 10px;
} 


.container4{
    display: flex;  /* Bunu yapmadığımızda esneklik sağlamıyor ve yazı ile resmi alt alta koyuyor */
    align-items: center; /* Resim ve yazıyı dikey ortalar */
    justify-content: center; /* Resim ve yazıyı yatay ortalar */
    padding: 20px;
    border-radius: 20px;
    


}

.image4 img{
    border-radius: 20px; /* Resmin köşelerini yuvarlatır */
    max-width: 50%; /* Resmin maksimum genişliğini belirler */
    height: auto; /* Resmin yüksekliğini korur */
    padding: 10px;
    float: right;
    background-color: red;
    box-shadow: 20px 20px 20px;
    
    

}

.text3{
    margin-left: 20px; /* Resim ve yazı arasındaki boşluk */
    padding: 10px;      /* yazının yazılı oldugu kutunun ustunden yazıya kadar olan boşluk */
    border: 4px solid black; /* Yazı alanının kenarlığı */
    border-radius: 20px; /* Yazı alanının köşelerini yuvarlatır */
    background-color: #f0f0f0; /* Yazı alanının arka plan rengi */
    box-shadow: 10px 10px;
}

.container5{
    display: flex;  /* Bunu yapmadığımızda esneklik sağlamıyor ve yazı ile resmi alt alta koyuyor */
    align-items: center; /* Resim ve yazıyı dikey ortalar */
    justify-content: center; /* Resim ve yazıyı yatay ortalar */
    padding: 20px;
    border-radius: 20px;
    


}

.image5 img{
    border-radius: 20px; /* Resmin köşelerini yuvarlatır */
    max-width: 100%; /* Resmin maksimum genişliğini belirler */
    height: auto; /* Resmin yüksekliğini korur */
    padding: 10px;
    background-color: red;
    box-shadow: 20px 20px 20px;

}

.text4{
    margin-left: 20px; /* Resim ve yazı arasındaki boşluk */
    padding: 10px;      /* yazının yazılı oldugu kutunun ustunden yazıya kadar olan boşluk */
    border: 4px solid black; /* Yazı alanının kenarlığı */
    border-radius: 20px; /* Yazı alanının köşelerini yuvarlatır */
    background-color: #f0f0f0; /* Yazı alanının arka plan rengi */
    box-shadow: -10px 10px;
} 


/* Deneyimler kısmı bitiş  */

/* iletişim kısmı başlangıç  */

.contact-info {
    display: flex;
    justify-content: center; /* Ortala */
    align-items: center;
    gap: 90px; /* Aralarındaki boşluk */
   
    padding: 20px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #007bff; /* Mavi renk */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact-item i {
    font-size: 24px;
    margin-bottom: 10px; /* Simgelerin altında boşluk */
}

.iletişim-container{
    background-color: black;
    
}


.iletişim-container .text-il-1 p{
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.iletişim-container .text-il-1 h3{
    color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/* iletişim kısmı bitiş  */
/* blog kısmı başlangıç  */

.blog-container {
    background-color: black; /* Arka plan rengi */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
}

.social-container {
    display: flex;
    gap: 15px; /* İkonlar arasındaki boşluk */
}

.social-icon {
    background-color: #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.social-icon:hover {
    background-color: #007bff; /* Hover efekti için renk */
}

.social-icon:nth-child(1):hover {
    background-color: #7d8b73; /* GitHub */
}

.social-icon:nth-child(2):hover {
    background-color: #3b5998; /* Facebook */
}

.social-icon:nth-child(3):hover {
    background-color: #1da1f2; /* Twitter */
}

.social-icon:nth-child(4):hover {
    background-color: #e4405f; /* Instagram */
}

.social-icon:nth-child(5):hover {
    background-color: #0077b5; /* LinkedIn */
}

.social-icon:nth-child(6):hover {
    background-color: #bd081c; /* Pinterest */
}







/* blog kısmı bitiş  */

/* responsive kısmı başlangıç  */


@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header-section{
        padding: 1.5rem 2rem;
    }

    .header-section img{
        height: 7rem;
    }

    section{
        padding: 2rem;
    }

    .header-section .box{
        padding: 1rem;
    }
    
   
}   





/* responsive kısmı bitiş  */